
<% for(var k = 0; k<data.length; k++){ %>
<ul>
  <li><%= data[k].password %></li>
  <li><%= data[k].lastname %></li>
  <li><%= data[k].username %></li>
  <li><%= data[k].email %></li>
  <li><%= data[k].gender %></li>

</ul>
<% } %>
